/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 */

process {

  $toy {
  cpus = 1 
  time =  2.h

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
  }
}

